
.tlacitka {
    height: calc(100% / 3);
  }
  
  .tlacitko {
    margin: 0;
    width: 25%;
    height: 20%;
    background: whitesmoke;
    color: black;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
  }