<!-- <div class="tlacitka"> -->
<div>
  <div class="hlavni">
    <form class="textview">
      <input class="textview">
    </form>
  </div>
  <table>
    <tr>
      <td><input class="tlacitko" type="button" value="AC"></td>
      <td><input class="tlacitko" type="button" value="DEL"></td>
      <td><input class="tlacitko" type="button" value="/"onclick="vlozit(/)"></td>
      <td><input class="tlacitko" type="button" value="*"onclick="vlozit(*)"></td>
    </tr>
    <tr>
      <td><input class="tlacitko" type="button" value="7"onclick="vlozit(7)"></td>
      <td><input class="tlacitko" type="button" value="8"onclick="vlozit(8)"></td>
      <td><input class="tlacitko" type="button" value="9"onclick="vlozit(9)"></td>
      <td><input class="tlacitko" type="button" value="-"onclick="vlozit(-)"></td>
    </tr>
    <tr>
      <td><input class="tlacitko" type="button" value="4"onclick="vlozit(4)"></td>
      <td><input class="tlacitko" type="button" value="5"onclick="vlozit(5)"></td>
      <td><input class="tlacitko" type="button" value="6"onclick="vlozit(6)"></td>
      <td><input class="tlacitko" type="button" value="+"onclick="vlozit(+)"></td>
    </tr>
    <tr>
      <td><input class="tlacitko" type="button" value="1"onclick="vlozit(1)"></td>
      <td><input class="tlacitko" type="button" value="2"onclick="vlozit(2)"></td>
      <td><input class="tlacitko" type="button" value="3"onclick="vlozit(3)"></td>
      <td><input class="tlacitko" type="button" value="="></td>
    </tr>
  </table>
</div>