<div class="tlacitka">
  <div class="tlacitko" (click)="Smazat()">AC</div>
  <div class="tlacitko" (click)="Zmackni('0')">0</div>
  <div class="tlacitko" (click)="Zmackni('1')">1</div>  
  <div class="tlacitko" (click)="Zmackni('2')">2</div>
  <div class="tlacitko" (click)="Zmackni('3')">3</div>  
  <div class="tlacitko" (click)="Zmackni('4')">4</div>
  <div class="tlacitko" (click)="Zmackni('5')">5</div>  
  <div class="tlacitko" (click)="Zmackni('6')">6</div>  
  <div class="tlacitko" (click)="Zmackni('7')">7</div>
  <div class="tlacitko" (click)="Zmackni('8')">8</div>  
  <div class="tlacitko" (click)="Zmackni('9')">9</div>
  <div class="tlacitko" (click)="Zmackni('/')">/</div>
  <div class="tlacitko" (click)="Zmackni('*')">*</div>    
  <div class="tlacitko" (click)="Zmackni('+')">+</div>
  <div class="tlacitko" (click)="Zmackni('-')">-</div>
  <div class="tlacitko" (click)="Zmackni('.')">.</div>  
  <div class="tlacitko" (click)="Vysledek()">=</div>  
</div>